<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <form th:action="@{'/post/edit/' + ${boardDto.id}}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="id" th:value="${boardDto.id}" />
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="title"
                        class="form-control"
                        id="inputTitle"
                        th:value="${boardDto.title}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="writer"
                        class="form-control"
                        id="inputWriter"
                        th:value="${boardDto.writer}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
            <textarea
                    type="text"
                    name="content"
                    class="form-control"
                    id="inputContent"
            >[[${boardDto.content}]]</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" role="button" value="수정" />
            </div>
        </div>
    </form>
</div>
</body>
</html>